*{
    margin: 0;
    padding : 0;
}
.container{
    background-image: url(../ressources/images/bg1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.title{
    color: #FFC900;
    font-size: 6rem;
    font-family: 'Permanent Marker', cursive;
    font-weight: 300;
    margin-top: 10%;
    margin-bottom: -20px;
}
h3{
    color: white;
    font-weight: 100;
    font-family: sans-serif;
    font-style: italic;
}
.title_container{
    padding-left: 15%;
}
.main_container{
    margin:auto;
    margin-top: 5%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;


}
.form_connection{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    width: 20%;
}

.input_connection, #connection_btn{
    text-align: center;
    height: 40px; 
    max-width: 400px;
}
input{
    border:none;
    color: #790252;
}
#username{
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid black;
}
#password{
    border-radius: 0 0 10px 10px;
}
#connection_btn{
    border-radius: 10px;
    margin-top: 8%;
    border: 0;  
    background-color: #FFC900;
    color: #141E27;
    font-size: 1em;
    font-weight: 400;
    cursor: pointer;
}
.sticker{
    background-color: #EE5007;
    letter-spacing: 1px;
    padding: 5px;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    border-radius: 10px 0 0 10px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    transition: all 0.2s ease-out;
    height: 100%;
    text-align: center;
}
.sticker p{
    writing-mode: vertical-lr;
}
#config_form{
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 100;
    font-size: 0.8rem;
    transition: all 0.2s ease-out;
}
#config_form h4{
    color: black;
    margin-bottom: 10px;
}
.config_radio_container{
    display: grid;
    grid-template-columns: 1fr 10px;
    justify-items: center;
    align-items: center;
    gap: 10px 0;
}
#config_btn{
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    padding: 7px;
}
footer{
    color: #FFC900;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: smaller;
}
.footer_mode_display{
    float: right;
    color: white;
    font-size: 1rem;
    margin-right: 20px;
}
footer strong{
    color: yellowgreen;
    font-weight: bold;
    font-style: italic;
}
.alert_div{
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    color: grey;
    margin: auto;
    margin-top: 0;
    box-shadow: 5px 5px 15px grey;
    font-family: sans-serif;
}
#danger_icon{
    width: 30px;
    padding-right: 10px;
}

@media screen and (max-width : 1150px){
   .form_connection{
    width: 40%;
   }
   .alert_div{
    width: 30%;
    margin-left: auto;
   }
}
@media screen and (max-width : 900px) and (min-width : 601px){
    .title{
        font-size: 4rem;
    }
    .main_container{
        margin: auto 0;
        justify-content: center;
    }
    .form_connection{
        width: 350px;
        margin-left: auto;
        transform: translateX(30px);
    }
    .sticker{
        margin-left: auto;
    }
    .alert_div{
        flex-direction: column;
        width: 20%;
    }
    footer{
        text-align: center;
    }
    .footer_mode_display{
        float: none;
        margin: auto;
    }   
    .alert_div{
        position: absolute;
        top: 20%;
        margin: auto;
        width: 60%;
    }
}
@media screen and (max-width : 600px){
    .title_container{
        padding-left: 0;
        text-align: center;
    }
    footer{
        text-align: center;
    }
    .footer_mode_display{
        float: none;
        margin: auto;
    }
    footer, .footer_mode_display{
        font-size: 0.8rem;
    }
    .main_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form_connection{
        margin: auto;
        width: 80%;
    }
    .input_connection, #connection_btn{
        max-width: 100%;
    }

    .sticker{
        margin: auto;
        width: auto;
        border-radius: 10px;
        margin-top: 50px;
        padding: 10px;
    }
    .sticker p{
        writing-mode: horizontal-tb;
    }
    .alert_div{
        margin-top: 20px;
    }
    .title_container{
        line-height: 5rem;
        margin-bottom: 20px;
    }
    .title{
        font-size: 3rem;
    }
}