*{
    margin: 0;
    padding : 0;
}
.container{
    background-image: url(./ressources/images/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.title{
    color: #FFC900;
    font-size: 6rem;
    font-family: 'Permanent Marker', cursive;
    font-weight: 300;
    margin-top: 10%;
    margin-bottom: -20px;
}
h3{
    color: white;
    font-weight: 100;
    font-family: sans-serif;
    font-style: italic;
}
.title_container{
    padding-left: 15%;
}
.main_container{
    margin:auto;
    margin-top: 5%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;


}
.form_connection{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    width: 20%;
}

input, button{
    text-align: center;
    height: 40px; 
    max-width: 400px;
}
input{
    border:none;
    color: #790252;
}
#username{
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid black;
}
#password{
    border-radius: 0 0 10px 10px;
}
button{
    border-radius: 10px;
    margin-top: 8%;
    border: 0;  
    background-color: #FFC900;
    color: #141E27;
    font-size: 1em;
    font-weight: 400;
    cursor: pointer;
}
.sticker{
    background-color: #790252;
    writing-mode: vertical-lr;
    letter-spacing: 0.5px;
    padding: 5px;
    font-family: sans-serif;
    color: white;
    font-weight: 100;
    font-size: 1em;
    cursor: pointer;
    border-radius: 10px 0 0 10px;
    margin-left: auto;
}
footer{
    color: #FFC900;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
}
